.card {
    box-sizing: border-box; 
    border: 1px solid #000047;
    border-radius: 15px;
    margin-bottom: 2vw;
    background: rgba(255, 255, 255, 0.5);
    max-width: 300px;
  }
    
  .card img {
    width: 100%; 
  }
  
  .card:hover {
    transform: scale(1.05);
  }  
  
  .deleteButton {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    color: #ffffff;
    font-size: 1.5rem;
    cursor: pointer;
  }
  
  .deleteButton:hover {
    transform: scale(1.1);
  }
  
  .horizontal{
    display: flex;
    justify-content: space-around;
  }
  
  .decoration {
    text-decoration: none;
    color: #000047;
  }
  